html,
body {
  min-width: 290px;
  color: #555;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-color: #333;
  overflow-y: scroll;
}
nav h1 {
  margin-top: 5px;
  border-bottom: 1px solid #239093;
  padding: 15px;
  margin-left: 18px;
  font-size: 1.7em;
  font-family: 'Abel', sans-serif;
  color: #239093;
}
a {
  color: #239093;
  text-decoration: none;
  list-style-type: none;
}
a:hover {
  color: #739999;
}
.nav-title {
  color: #239093;
}
.warning {
  text-align: center;
  margin-bottom: 45px;
  margin-left: 50px;
  border: solid 1px;
  border-radius: 4px 4px 4px 4px;
}
/* Test */
/* .info-section {
    background-color: #239093;  
    position: absolute;
    bottom: 0;
    height: 90px; 
  }
 .info-section li {
   font-size: .8em;
   display: inline;
   color: #fff;
 }
 .info-section a {
   color: #fff;
   font-size: .8em;
 } */

header {
  text-align: left;
  font-size: 1.8em;
}
nav ul {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
nav li {
  /* border: 1px solid; */
  border-bottom-width: 0px;
  padding: 8px;
  padding-left: 45px;
  list-style: none;
  position: relative;
  left: -50px;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: #fff;
  outline: 0;
}
nav a:hover {
  /* color: red; */
  /* border-bottom: .3px solid red; */
  color: #239093;
}
.main-link {
  font-size: 1.2em;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  padding-bottom: 8px;
}
.main-link:hover {
  color: #fff;
  /* border-bottom: 1px solid #239093; */
  /* padding: 5px; */
}
.main-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #239093;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.main-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#intro {
  margin-bottom: 50px;
}
#main {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
}
section {
  margin-top: 50px;
}
section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}
section li {
  margin: 15px 0px 0px 20px;
}
.handle {
  width: 100%;
  cursor: pointer;
  position: fixed;
  background: #333;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 10px;
  display: none;
}
#reading li {
  list-style-type: none;
}
.bottom {
  float: right;
  font-size: 0.8em;
  margin-right: 10px;
  padding-right: 5px;
}
.bottom a:nth-child(2) {
  margin-left: 10px;
}

#subscribe {
  text-align: center;
}
.btn {
  background-color: rgb(51, 51, 51);
  color: #239093;
  padding: 11px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  margin-left: 5px;
  font-weight: 900;
}
.btn:hover {
  color: rgb(51, 51, 51);
  background-color: #239093;
  cursor: pointer;
}
.sub {
  padding: 10px;
  border: 1px solid;
}
/* .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  } */
/* @media screen and (max-width: 580px) {
    header {
      padding-top: 0;
      margin-top: 45px;
      transition: all 0.3s ease;
      margin-bottom: 0;
    } */
/* nav {
      position: fixed;
      top: 0;
      left: -15em;
      overflow: hidden;
      transition: all .3s ease-in;
      width: 15em;
      height: 100%;
      background: #333;
      color: rgba(255, 255, 255, 0.7);
    }
    nav ul {
      top: 1.3em;
    }
    nav ul li {
      width: 100%;
    }
    nav a {
      position: absolute;
      top: 50%;
      left: 4em;
      transform: translateY(-50%);
    } */
/* #main {
    } */
/* nav ul {
      max-height: 0; */
/* }
    nav ul li { */
/* box-sizing: border-box; */
/* width: 100%; */
/* padding: 15px; */
/* text-align: left; */
/* }
    .handle {
      display: block;
    }
    .showing {
      max-height: 10em;
    }
  }   */

@media only screen and (max-width: 500px) {
  /* nav ul {
  border:1px solid;
    height:207px;
  } */
  /* nav {
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      border: none;
      z-index: 1;
    }
    nav a {
      position: absolute;
      top: 50%;
      left: 4em;
    } 
    nav ul {
      max-height: 0;
    }
    nav ul li { 
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      text-align: left;
    } */
  nav {
    display: none;
  }
  #main {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    padding: 10px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .handle {
    display: block;
  }
  .showing {
    max-height: 20em;
  }
  .warning {
    border: 0;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 400px) {
  #main {
    margin-left: -10px;
  }
}
